#timer {
   font-size: 20px;
   margin-top: 10px;
   font-weight: bold;
   color: black;
}

#gameFrame{
   width: 200px;
   height: 230px;
   border: 3px solid black;
   background: radial-gradient(circle, rgb(222, 222, 222) 0%, rgb(222, 222, 222) 50%,  rgb(144, 144, 144) 95%,  rgb(121, 121, 121) 100%);
   border-radius: 5px;
}

.level-count{
   font-size: 20px;
   position: relative;
   left: 24px;
   top: 10px;
   margin-bottom: 10px;
   font-weight: bold;
   color: black;
}

.keypad-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 5px;
   width: 180px; 
   height: 177px; 
   padding: 10px;
}

/* Move the tenth item to the 11th grid spot */
.keypad-container .grid-item:nth-child(10) {
   grid-column-start: 2; 
}

:root {
   --animation-duration: 1s;
   --color: rgba(0, 8, 255, 0.5);
}

.flashAnimationClass{
   animation: flash var(--animation-duration) linear forwards;
}

.stayLitUpRed{
   box-shadow: 0 0 10px 2px #F00;
}

.stayLitUpBlue{
   box-shadow: 0 0 10px 2px #00F;
}

@keyframes flash {
   0% {}
   50% {
      box-shadow: 0 0 10px 2px var(--color);
      transform: scale(0.95);
   }
   100% {}
   
}

.grid-item {
   display: flex;
   justify-content: center;
   align-items: center;
   background: radial-gradient(circle, rgb(97, 97, 97) 0%, rgb(50, 50, 50) 90%, rgba(0, 0, 0, 0) 100%);
   color: rgb(215, 215, 215);
   border: 2px solid rgb(215, 215, 215);
   border-radius: 5px;
   overflow: hidden;
   font-size: 30px;
}

.grid-item:hover {
   cursor: pointer;
}

#startButton{
   width: 200px;
   height: 25px;
   margin: 5px 0 0 2px;
   border-radius: 10px;
   border: 1px solid black;
   font-size: 18px;
   font-weight: bold;
   font-family:'Times New Roman', Times, serif;
   background-color: greenyellow;
}

#startButton:hover{
   cursor: pointer;
   background-color: green;
}