#timer {
   font-size: 20px;
   margin-top: 10px;
   font-weight: bold;
   color: black;
}

#gameFrame{
   width: 200px;
   height: 230px;
   border: 3px solid black;
   background: radial-gradient(circle, rgb(222, 222, 222) 0%, rgb(222, 222, 222) 50%,  rgb(144, 144, 144) 95%,  rgb(121, 121, 121) 100%);
   border-radius: 5px;
}

.remaining-wins{
   font-size: 20px;
   width: 100%;
   text-align: center;
   position: relative;
   top: 10px;
   margin-bottom: 10px;
   font-weight: bold;
   color: black;
}

#health-bar{
   display: flex;
   justify-content: center;
   width: 150px;
   height: 20px;
   background: rgb(255, 255, 255);
   background: linear-gradient(to right, rgb(255, 137, 137) 100%, rgb(255, 255, 255) 0%);
   margin: 15px auto 5px auto;
}

#sprite-container {
   position: relative;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 150px; /* Adjust as needed */
   height: 150px; /* Adjust as needed */
   margin: 0 auto;
   border: 1px solid black
}

.grid-cell {
   position: relative;
   box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
   width: 49px;
   height: 49px;
}

.grid-cell:hover {
   cursor: pointer;
}

#sprite-container img {
   height: 100%;
   margin-left: 4px;
}

#startButton{
   width: 200px;
   height: 25px;
   margin: 5px 0 0 2px;
   border-radius: 10px;
   border: 1px solid black;
   font-size: 18px;
   font-weight: bold;
   font-family:'Times New Roman', Times, serif;
   background-color: greenyellow;
}

#startButton:hover{
   cursor: pointer;
   background-color: green;
}