body {
    background-image: url('/pages/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d3dce6;
    padding-top: 150px;
}

.nav {
    background: #ceedf8;
    padding: 0 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1f2b38;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav .logo img {
    height: 120%;
    width: auto;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.nav .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav .links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav .links a {
    color: #101820;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; /* Bold text */
    padding: 10px 15px;
}

.nav .links a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 40px;
    background: #101820;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    min-height: 300px;
}

.container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Orbitron';
}
h1{
    font-family: 'Orbitron';
}

.container p {
    font-size: 16px;
    line-height: 1.5;
}