#timer {
   font-size: 20px;
   margin-top: 10px;
   font-weight: bold;
   color: black;
}

#gameFrame{
   width: 200px;
   height: 230px;
   border: 3px solid black;
   background: radial-gradient(circle, rgb(222, 222, 222) 0%, rgb(222, 222, 222) 50%,  rgb(198, 198, 198) 95%,  rgb(169, 169, 169) 100%);
   border-radius: 5px;
}

.sprite-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   gap: 10px;
   width: 180px; 
   height: 210px; 
   padding: 10px;
}

.grid-item {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   border: 2px solid rgb(194, 194, 194);
   border-radius: 5px;
   overflow: hidden;
}

:root {
   --animation-duration: 1s;
}

.revealAnimationClass{
   animation: reveal var(--animation-duration) linear forwards;
}

.hideTextAnimationClass{
   animation: hideText var(--animation-duration) linear forwards;
}

.hideAndRotateTextAnimationClass{
   animation: hideAndRotateText var(--animation-duration) linear forwards;
}

.showTextAnimationClass{
   animation: showText var(--animation-duration) linear forwards;
}

.showAndRotateTextAnimationClass{
   animation: showAndRotateText var(--animation-duration) linear forwards;
}

.grid-item-text {
   margin: 0;
   font-size: fit-content;
   opacity: 0;
}

.grid-item-text:hover {
   cursor: pointer;
}

.grid-item:hover {
   cursor: pointer;
}

#startButton{
   width: 200px;
   height: 25px;
   margin: 5px 0 0 2px;
   border-radius: 10px;
   border: 1px solid black;
   font-size: 18px;
   font-weight: bold;
   font-family:'Times New Roman', Times, serif;
   background-color: greenyellow;
}

#startButton:hover{
   cursor: pointer;
   background-color: green;
}

@keyframes reveal {
   0% {
      transform: rotateY(0deg);
   }
   50% {
      transform: rotateY(180deg);
   }
   100% {
      transform: rotateY(180deg);
   }
   
}

@keyframes hideText {
   0% {
      opacity: 1;
   }
   24.999% {
      opacity: 1;
   }
   25% {
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}

@keyframes hideAndRotateText {
   0% {
      opacity: 1;
      transform: rotateY(180deg);
   }
   24.999% {
      opacity: 1;
   }
   25% {
      opacity: 0;
   }
   100% {
      opacity: 0;
      transform: rotateY(180deg);
   }
}

@keyframes showText {
   0% {
      opacity: 0;
   }
   24.999% {
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   100% {
      opacity: 1;
   }
}

@keyframes showAndRotateText {
   0% {
      opacity: 0;
   }
   24.999% {
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   100% {
      opacity: 1;
   }
}